<div class="container">
  <div class="card shadow">
    <table class="table table table-responsive table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Versão</th>
          <th>Ano</th>
          <th>KM</th>
          <th>Preço</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carro of listaCarros">
          <td>{{carro.id}}</td>
          <td>{{carro.marca}}</td>
          <td>{{carro.modelo}}</td>
          <td>{{carro.versao}}</td>
          <td>{{carro.ano}}</td>
          <td>{{carro.km}}</td>
          <td>{{carro.preco}}</td>
          <td>
            <button class="btn btn-sm btn-warning me-2" routerLink="/painel/atualizar/{{carro.id}}">
              <i class="bi bi-pen-fill"></i>
            </button>
            <button class="btn btn-sm btn-danger">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
