<div class="container">
  <div class="shadow mt-3 mb-3 p-3">

    <div class="listar-header">
      <div class="row justify-content-between mb-3">
        <div class="col-6">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Pesquisar carro" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-success" routerLink="/painel/cadastrar">
              <i class="bi bi-plus-lg"></i> Cadastrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow">
      <table class="table table table-responsive table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Versão</th>
            <th>Ano</th>
            <th>KM</th>
            <th>Preço</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carro of listaCarros">
            <td>{{carro.id}}</td>
            <td>{{carro.marca}}</td>
            <td>{{carro.modelo}}</td>
            <td>{{carro.versao}}</td>
            <td>{{carro.ano}}</td>
            <td>{{carro.km}}</td>
            <td>{{carro.preco}}</td>
            <td>
              <button class="btn btn-sm btn-warning me-2" routerLink="/painel/atualizar/{{carro.id}}">
                <i class="bi bi-pen-fill"></i>
              </button>
              <button class="btn btn-sm btn-danger" [swal]="{
               title: 'ATENÇÃO',
               text: 'Deseja realmente excluir o carro: ' + carro.marca + ' ' + carro.modelo + '?',
               showDenyButton: true,
               denyButtonText: 'Não',
               confirmButtonText: 'Sim, excluir',
               icon: 'warning'
              }" (confirm)="deletar(carro)">
                <i class="bi bi-trash-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
