<div class="container">
  <div class="search d-grid">
    <h3>ENCONTRE O MELHOR VEÍCULO PARA VOCÊ</h3>
    <div class="d-grid forms">
      <div class="row">
        <div class="col-12 col-lg-4">
          <p>Digite o nome do veículo de seu interesse:</p>
          <input type="text" class="form-control" placeholder="MARCA OU MODELO">
        </div>
        <div class="col-12 col-lg-3">
          <p>Ou localize pela marca e modelo:</p>
          <div class="mb-3">
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Marca</option>
              <option value="1">VOLKSWAGEN</option>
              <option value="2">CHEVROLET</option>
              <option value="3">FIAT</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="mb-3">
            <select class="form-select" id="inputGroupSelect01">
              <option selected>MODELO</option>
              <option value="1">VOLKSWAGEN</option>
              <option value="2">CHEVROLET</option>
              <option value="3">FIAT</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-lg-2">
          <button type="button" class="btn btn-localizar">LOCALIZAR</button>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
  </div>
</div>
