@import "../../app.component.scss";

.navbar {
  height: 150px;
}

.offcanvas {
  background-color: #205f87e5;
}
.btn-enter {
  background-color: transparent;
  border: none;
}

.enter {
  font-size: 2.8rem;
  color: var(--color01);
}

.enter:hover {
  color: var(--color02);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color04);
  font-size: 1.4rem;
  text-align: center;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: var(--color02);
}

.img-canvas {
  height: 50px;
  margin: 10px;
}

.esc {
  color: var(--color04);
  font-size: 1.8rem;
}

.esc:hover {
  color: var(--color02);
}
