.navbar {
  height: 150px;
}

.offcanvas {
  background-color: #205f87e5;
}
.btn-enter {
  background-color: transparent;
  border: none;
}

.enter {
  font-size: 2.8rem;
  color: #0076A7;
}

.enter:hover {
  color: #00a1e6;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #00a1e6;
}

.img-canvas {
  height: 50px;
  margin: 10px;
}

.esc {
 color: #fff;
 font-size: 1.8rem;
}

.esc:hover {
  color: #00a1e6;
}






